@(user: Option[model.User])

@main("Our first play app" , user) {
    <!--<div ng-controller="TimeController">-->
    <!--<p>{{time}}</p>-->
    <!--</div>-->

    <div ng-controller="TaskController">

        <div class="alert alert-success" ng-show="message && message != ''">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{message}}
        </div>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th class="span5">Name</th>
                    <th>Time</th>
                    <th class="span3"></th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="task in tasks">
                    <td class="">
                        <div ng-hide="task.edit" ng-Dblclick="task.edit=true">{{task.name}}</div>
                        <div ng-show="task.edit" class="input-append">
                            <input type="text" ng-model="task.name">
                            <button ng-click="update();task.edit=false" class="btn"><i class="icon-ok"></i></button>
                        </div>
                    </td>

                    <td class="">
                        <div ng-hide="task.editTime" ng-Dblclick="prepareTimeEdit(task);task.editTime=true">{{task.startDate | timer}}</div>
                        <div ng-show="task.editTime">
                            <div class="input-append input-prepend">
                                <input type="text" class="input-mini" ng-model="task.hours">
                                <input type="text" class="input-mini" ng-model="task.minutes">
                                <input type="text" class="input-mini" ng-model="task.seconds">
                                <button ng-click="updateTime(task);task.editTime=false" class="btn"><i class="icon-ok"></i></button>
                            </div>
                        </div>
                    </td>

                    <td>
                        <div ng-show="task.running" class="progress progress-striped active">
                            <div class="bar" style="width: 100%;"></div>
                        </div>
                    </td>

                    <td class="">
                        <button ng-hide="task.running" ng-click="start(task)" class="btn"><i class="icon-play"></i></button>
                        <button ng-show="task.running" ng-click="stop(task)" class="btn"><i class="icon-pause"></i></button>
                        <button ng-click="delete(task)" class="btn btn-danger"><i class="icon-remove-sign icon-white"></i></button>
                    </td>
                </tr>
            </tbody>
        </table>

        <div class="row">
            <div class="form-inline">
                <p class="span1">name : </p>
                <input class="span3" type="text" ng-model="task.name">
                <button ng-click="add()" class="btn btn-primary">Add</button>
            </div>
        </div>

        <div id="deleteConfirm"></div>
    </div>

}
